.row {
	margin: 0px;
}
.jumbotron {
	font-size: unset;
	margin: 0px;
	background-color: #ffffff;
}
.jumbotron h3 {
	font-size: 18pt;
	margin-top: 90px;
	font-style: italic; 
}
.jumbotron p {
	font-size: 14pt;
	max-width: 800px;
	margin: auto;
	font-style: italic; 
}
.wrapper {	
	margin: 0px;
	margin-bottom: 80px;	 
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 10px;
  margin: 0 auto;
  background-color: #fff;
} 

.form-signin-heading {
	text-align: center;
	margin-bottom: 10px;
}

.checkbox {
  	font-weight: normal;
}
.btn {
		
		background: #0469B1;
		border: unset;
		border-radius: 3px;
}

button {
	margin-top: 10px;
	max-width: 80px;
	margin: auto;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	margin: 0px 0px 15px;
	@include box-sizing(border-box);
	
	&:focus {
		z-index: 2;
		}
								      
	input[type="text"] {
		margin-bottom: -1px;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	input[type="password"] {
		margin-bottom: 20px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

		