.jumbotron {
    background-color: #d3d3d3;
    padding-bottom: 5px;
    border-radius: 3px;
  }
h2 {
    margin-top: 90px;
}
button {
    margin-top: 20px;
    font-weight: bolder;
}
.btn {	
	background: #0469B1;
	border: unset;
	border-radius: 3px;
}
form {
    margin: 0px 100px 100px 100px;
}