   /* Remove the navbar's default margin-bottom and rounded borders */ 
   body { 
    font-family: 'Open Sans',sans-serif;
  }

  .row.content {
    position: relative;
    height: 475px;
    margin-top: 15px; 
  }
  .student-name {
    position: relative;
    max-width: 700px;
  }
  .student-advisor {
    /*background-color: lightblue;*/
    position: relative;
    max-height: 10%;
    max-width: 700px;
    border-radius: 6px;
    border: solid #d3d3d3 2px;
   
  }
  .student {
    display: inline-flex;
    position: relative;
    background-color: lightgray;
    height: 100px;
    width: 325px;
    margin: 0px;
  }
  .advisor {
    display: inline-flex;
    position: relative;
    background-color: lightblue;
    height: 100px;
    width: 325px;
    margin: 0px;
  }
  /***************** COURSE HISTORY START ********************/
  .history_header {
    position: relative;
    max-width: 700px;
  }
  .course-history {
    position: relative;
    height: 30%;
    max-width: 700px;
    border-radius: 6px;
    border: solid #d3d3d3 2px;
  }
  .update-history {
    display: inline-flex;
    position: relative;
    background-color: lightgray;
    height: 300px;
    width: 300px;
    margin: 0px;
  }
  .take-survey {
    display: inline-flex;
    position: relative;
    background-color: lightblue;
    height: 300px;
    width: 300px;
    margin: 0px;
  }
 /***************** COURSE HISTORY END ********************/
  
  
  h3 {
    margin: 0px;
    font-size: 14pt;
  }
  h4 {
    margin: 0px;
  }
  /* Set gray background color and 100% height */
  .sidenav {

    height: 100%;
    border: dashed black 2px;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #434545;
    color: white; 
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }